.container {
    max-width: 900px;
    text-align: center;
}

.title {
    padding: 20px;
    margin: 0px 0px 5px 10px;
    background-color: blue;
    color: white;
}
#contentarea {
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#start {
    justify-content: center;
}